:root{
  --blue-color:#0075ff;
  --blue-alt-color:#0d69d5;
  --orange-color:#f59e0b;
  --green-color:#22c55e;
  --red-color:#f44336;
  --gray-color:#888;
  --border-color-ccc:#ccc;
  --main-transition-duration:.3s;
}
/* Start Box */
.d-flex{
  display: flex;
}
.f-wrap{
  flex-wrap: wrap;
}
.align-center{
  align-items: center;
}
.space-between{
  justify-content: space-between;
}
.d-grid{
  display: grid;
}
.gap-10{
  gap: 10px;
}
.gap-20{
  gap: 20px;
}
/* End Box */
/* Start padding + Margin */ 
.p-0{
  padding: 0;
}
.p-5{
  padding: 5px;
}
.p-10{
  padding: 10px;
}
.p-15{
  padding: 15px;
}
.p-20{
  padding: 20px;
}
.m-0{
  margin: 0px;
}
.m-5{
  margin: 5px;
}
.m-10{
  margin: 10px;
}
.m-15{
  margin: 15px;
}
.m-20{
  margin: 20px;
}
/* TOP */
.mt-0{
  margin-top: 0;
}
.pt-0{
  padding-top: 0;
}
.mt-5{
  margin-top: 5px;
}
.pt-5{
  padding-top: 5px;
}
.mt-10{
  margin-top: 10px;
}
.pt-10{
  padding-top: 10px;
}
.mt-15{
  margin-top: 15px;
}
.pt-15{
  padding-top: 15px;
}
.mt-20{
  margin-top: 20px;
}
.pt-20{
  padding-top: 20px;
}
.mt-25{
  margin-top: 25px;
}
/* RIGHT */
.mr-0{
  margin-right: 0;
}
.pr-0{
  padding-right: 0;
}
.mr-5{
  margin-right: 5px;
}
.pr-5{
  padding-right: 5px;
}
.mr-10{
  margin-right: 10px;
}
.pr-10{
  padding-right: 10px;
}
.mr-15{
  margin-right: 15px;
}
.pr-15{
  padding-right: 15px;
}
.mr-20{
  margin-right: 20px;
}
.pr-20{
  padding-right: 20px;
}
/* BOTTOM */
.mb-0{
  margin-bottom: 0px;
}
.pb-0{
  padding-bottom: 0;
}
.mb-5{
  margin-bottom: 5px;
}
.pb-5{
  padding-bottom: 5px;
}
.mb-10{
  margin-bottom: 10px;
}
.pb-10{
  padding-bottom: 10px;
}
.mb-15{
  margin-bottom: 15px;
}
.pb-15{
  padding-bottom: 15px;
}
.mb-20{
  margin-bottom: 20px;
}
.pb-20{
  padding-bottom: 20px;
}
.mb-25{
  margin-bottom: 25px;
}
/* LEFT */
.ml-0{
  margin-left: 0px;
}
.pl-0{
  padding-left: 0;
}
.ml-5{
  margin-left: 5px;
}
.pl-5{
  padding-left: 5px;
}
.ml-10{
  margin-left: 10px;
}
.pl-10{
  padding-left: 10px;
}
.ml-15{
  margin-left: 15px;
}
.pl-15{
  padding-left: 15px;
}
.ml-20{
  margin-left: 20px;
}
.pl-20{
  padding-left: 20px;
}
.ml-25{
  margin-left: 25px;
}
.pl-25{
  padding-left: 25px;
}
/* End padding + Margin */ 
/* Start color */
.bg-white{
  background-color: white;
}
.bg-eee{
  background-color: #eee;
}
.bg-blue{
  background-color:var(--blue-color);
}
.bg-orange{
  background-color: var(--orange-color);
}
.bg-red{
  background-color: var(--red-color);
}
.bg-green{
  background-color: var(--green-color);
}
.c-black{
  color: black;
}
.c-blue{
  color: var(--blue-color);
}
.c-orange{
  color: var(--orange-color);
}
.c-green{
  color: var(--green-color);
}
.c-red{
  color: var(--red-color);
}
.c-white{
  color: white;
}
.c-gray{
  color: gray;
}
/* End color */
/* Start position */
.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
/* end position */
/* Start fonts */
.txt-c{
  text-align: center;
}
.fs-13{
  font-size: 13px;
}
.fs-14{
  font-size: 14px;
}
.fs-15{
  font-size: 15px;
}
.fs-18{
  font-size: 18px;
}
.fs-25{
  font-size: 25px;
}
.fw-bold{
  font-weight: bold;
}
.lh{
  line-height: 1.6;
}
/* End fonts */
/* Start Border */
.rad-6{
  border-radius: 6px;
}
.rad-10{
  border-radius: 10px;
}
/* End Border */
/* widths start */
.w-full{
  width: 100%;
}
.w-fit{
  width: fit-content;
}
.d-block{
  display: block;
}
.b-none{
  border: none;
}
.b-ccc{
  border: 1px solid #ccc;
}
.h-full{
  height: 100%;
}
/* widths ends */
/* Start components */
.between-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-shape{
  padding: 4px 10px;
  border-radius: 6px;
}
.border-eee{
  border: 1px solid #eee;
}
/* end components */
@media (max-width:768px){
  .hide-mobile{
    display: none;
  }
  .txt-c-mobile{
    text-align: center;
  }
  .dir-mobile{
    flex-direction: column;
  }
  .w-mobile{
    flex-wrap: wrap;
  }
  .block-mobile{
    display: block;
  }
  .fs-h-mobile{
    font-size: 12px;
  }
  .fs-p-mobile{
    font-size: 10px;
  }
}